.account
  .account_logo
    = link_to root_path do
      = image_tag("material/logo/logo.png", alt: "logo image")
  .account-page
    %h2 本人確認情報の登録
    .account-pagenew
      =form_with model: @identity_information,local:true do |f|
        .field
          .field-label
            = f.label :姓
            = f.label :名
          .field-input
            = f.text_field :last_name, autofocus: true
            = f.text_field :first_name
        .field
          .field-label
            = f.label :姓（ふりがな）
            = f.label :名（ふりがな）
          .field-input
            = f.text_field :last_name_furigana
            = f.text_field :first_name_furigana
        .field
          .field-label
            = f.label :誕生日
          .field-input
            = f.text_field :birthday

        .actions
          = f.submit "登録", class: 'btn'
    .account-page_existing
      %p
        %span ------------
        会員のお客様はこちら
        %span ------------
