= render "shared/header"

.mypage-left
  .mypage-title
    %ul
      %li.list-item
        マイページ
        .list-item__icon
          >
      %li.list-item
        = link_to "商品を出品する", new_item_path, class: 'mypage-list-btn'
        .list-item__icon
          >
      %li.list-item
        = link_to "出品した商品", item_path, class: 'mypage-list-btn'
        .list-item__icon
          >
      %li.list-item
        購入した商品⭐️
        .list-item__icon
          >
      %li.list-item
        下書き一覧⭐️
        .list-item__icon
          >

    .mypage-head
    %ul
      %li.list-item-letter
        ガイド・お問い合わせ
      %li.list-item
        ガイド⭐️
        .list-item__icon
          >
      %li.list-item
        お問い合わせ⭐️
        .list-item__icon
          >

    .mypage-head
    %ul
      %li.list-item-letter 
        その他設定
      %li.list-item
        プロフィール⭐️
        .list-item__icon
          >
      %li.list-item
        発送元・お届け先変更⭐️
        .list-item__icon
          >
      %li.list-item
        = link_to "クレジットカード登録/変更",new_card_path, class: 'mypage-list-btn'
        .list-item__icon
          >
      %li.list-item
        メール/パスワード⭐️
        .list-item__icon
          >
      %li.list-item
        本人情報⭐️
        .list-item__icon
          >

    .mypage-head
    %ul
      %li.list-item
        = link_to "ログアウト",destroy_user_session_path, method: :delete, class: 'mypage-list-btn'
        .list-item__icon
          >



.mypage-right
  .mypage-icon
    .mypage-icon__image
      - if @user.avatar.nil?
        = image_tag "material/icon/avatar.jpg", class: "avatar"
      - else
        = image_tag @user.avatar, class: 'avatar'
      = form_for @user do |f|
        = f.label :avatar do
          = icon('fas', 'image')
          = f.file_field :avatar, style: "display: none;"
        = f.submit 'Send', class: 'avatar-btn'      
    %p.icon-name
      = @user.name + "さん"
    %P.evaluation 評価　888　出品数　888
    = image_tag("material/pict/umi.jpg", alt: "item-img", class: "umi-jpg")


  %ul.tab
    %li.sell-items 出品した商品
    %li.buy-items 購入した商品
  .tab_content
    .mypage-item-link
    - @items.each do |item|
      .mypage-item-link__box
        .mypage-item-link__box__image
          = link_to item_path(item.id) do
            = image_tag item.item_images.first, class: "mypage-item-image"
        .mypage-item-link__box__text
          = link_to item_path(item.id), class: "mypage-item-text" do
            = "「 #{item.name} 」" + "を出品しました"

  .tab_content.hide
    .mypage-item-link
    - @items.each do |item|
      .mypage-item-link__box
        .mypage-item-link__box__image
          = link_to item_path(item.id) do
            = image_tag item.item_images.first , class: "mypage-item-image"
        .mypage-item-link__box__text
          = link_to item_path(item.id), class: "mypage-item-text" do
            = "「 #{item.name} 」" + "を購入しました"

  .mypage-go-list
    .mypage-go-list__btn
      一覧を見る

= render "shared/footer"