%header.header
  .header__top
    .header__top--logo
      = link_to image_tag("material/logo/logo.png", alt: "logo image"), root_path
    .header__top--search
      %form
        %input{name: "keyword", placeholder: "探し物は何ですか？", type: "search",class: "search-ward"}
        = button_tag type: "submit", class: "search-icon" do
          %i.fa.fa-search

  .header__bottom
    .search-list
      .category-list
        #category-list カテゴリーを探す
        .parent_category-list
          - @parents.each do |parent|
            = link_to "#{parent.name}",class: "parent_category",id: "#{parent.id}"
            -# 後で使用します。
            -#   子カテゴリー↓
            -# - parent.children.each do |child|
            -#   =child.name  
            -#    孫カテゴリー↓
            -#   - child.children.each do |grandchild|
            -#     =grandchild.name

      .brand-list
        =link_to "ブランドから探す"
        %ul
          %li.hiddn ルイヴィトン
          %li.hiddn シャネル
          %li.hiddn ラルフローレン
    .user-menu
      - if user_signed_in?
        .to-mypage
          = link_to "マイページへ", user_path(current_user.id)
        .to-do
          = link_to "やること", "#"
        .logout-user
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
      - else
        .new-user
          .create-user
            = link_to "新規会員登録", new_user_registration_path, class: "header__right--btn"
          .login-user
            = link_to "ログイン", new_user_session_path, class: "header__right--btn"