.account
  .account_logo
    = link_to root_path do
      = image_tag("material/logo/logo.png", alt: "logo image")
  .account-page
    %h2 お届け先変更
    .account-pagenew
      = form_with model: @shipping_address, local: true do |f|
        .field
          = render 'shared/error_messages', model: f.object
          .field-label
            = f.label :郵便番号
          .field-input
            = f.text_field :postal_code, autofocus: true,
             placeholder:" ※半角数字７桁（例）1234567"
        .field
          .field-label
            = f.label :都道府県
          .field-input
            = f.collection_select :prefecture, Prefecture.all,
             :id, :name, prompt: "選択してください", class: 'select-box', id: 'prefecture-select__box'
        .field
          .field-label
            = f.label :市区町村
          .field-input
            = f.text_field :municipalities, placeholder: " (例）フリマ区ふりま町"
        .field
          .field-label
            = f.label :番地
          .field-input
            = f.text_field :block, placeholder: " （例）１丁目１番地１号"
        .field
          .field-label
            = f.label :建物名、部屋番号
          .field-input
            = f.text_field :building_name_room_number,
             placeholder: "(例）FURIMAマンション１０１号室"
        .field
          .field-label
            = f.label :お届け先電話番号
          .field-input
            = f.text_field :phone_number

        .actions
          = f.submit "更新", class: 'btn'
