.account
  .account_logo
    = link_to image_tag("material/logo/logo.png", alt: "logo image"), root_path
  .account-page
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %h2.login  ログイン
      .account-form
        %p 全項目入力必須
      .account-mail
        = f.label :メールアドレス
        %br/
        = f.email_field :email, autofocus: true
      .account-password
        .account-password__form
          .account-password__form-left
            = f.label :password, "パスワード"
            %i (英数字8文字以上)
          .account-password__form-right
            = link_to "パスワードを忘れた場合", new_user_password_path
        = f.password_field :password, autocomplete: "off"
      .account-login
        = f.submit "ログイン"
        .account-login__text
          続行することで、チームdの
          \#{link_to "利用規約", "#"}
          および
          \#{link_to "プライバシー規約", "#"}
          に同意するものとみなされます。
        - if devise_mapping.rememberable?
          .account-login__remember
            = f.check_box :remember_me
            = f.label :remember, "ログインしたままにする"
            
    .account-newuser
      %p
        %span ------------
        チームdの新しいお客様はこちら
        %span ------------
      = link_to "チームdアカウントを作成", new_user_registration_path



