.account
  .account_logo
    = link_to image_tag("material/logo/logo.png", alt: "logo image"), root_path
  .account-page
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %h1 
        %span ログイン

      .account-mail
        %p
          %span 入力必須
        .field-input
          = f.email_field :email, placeholder: 'メールアドレス', autofocus: true

      .account-password
        .account-password__form
          .account-password__form-left
            %p
              %span 入力必須
            .field-input
              = f.password_field :password, placeholder: '8文字以上', autocomplete: "off"

      .account-login
        = f.submit "ログイン"
        .account-login__text
          続行することで、チームdの
          \#{link_to "利用規約", "#"}
          および
          \#{link_to "プライバシー規約", "#"}
          に同意するものとみなされます。
        - if devise_mapping.rememberable?
          .account-login__remember
            = f.check_box :remember_me
            = f.label :remember, "ログインしたままにする"
          .account-login__forget
            = link_to "パスワードを忘れた場合", new_user_password_path

            
    .account-newuser
      %p
        %span ------------
        チームdの新しいお客様はこちら
        %span ------------
      = link_to "チームdアカウントを作成", new_user_registration_path



