= render 'shared/simple_header'
.new-contents
  .new-contents-main
    .title
      %h1 商品の情報を編集

      =form_with model: @item,local:true do |f|
        .image_delete
          %h2 投稿済みの画像 
          %p 削除したい画像にチェックをつけてください
          - @item.item_images.each do |item_image|
            = label_tag do
              .check_box_image
                .check_box_image__check_box
                  = f.check_box :item_image_ids, { multiple: true, checked: item_image[:checked], disabled: item_image[:disabled], include_hidden: false }, item_image[:id]
                .check_box_image__image
                  = image_tag item_image, class: "posted_image"
        .imege-upload
          = render 'shared/error_messages', model: f.object
          .section
            %h2 追加する画像
          %p 最大５枚までアップロードできます
          .image__list
            .view_box
              = f.file_field :item_images, multiple: true, class: "file"
            .view_box
              = f.file_field :item_images, multiple: true, class: "file"
            .view_box
              = f.file_field :item_images, multiple: true, class: "file"
            .view_box
              = f.file_field :item_images, multiple: true, class: "file"
            .view_box
              = f.file_field :item_images, multiple: true, class: "file"
        .item-name
          .section-name
            .title
              %p 商品名
              %span 必須
            = f.text_field :name, placeholder: '商品名（必須）', class: "input-name"
          .section-discription
            .title
              %p 商品の説明
              %span 必須
            = f.text_area :description, placeholder: '商品の説明（色、素材、重さ、定価、注意点など)', class: "input-description"
        .item-details
          %h3 商品の詳細
          .item-details__box
            .section
              %p カテゴリー
              %span 必須
            .section
              %select#parent
                %option{value: 0} 選択して下さい
                - @parents.each do |category|
                  %option{value: "#{category.id}"} #{category.name}

            .section.child-category
              

            .section.grand-child-category

            .section
              %p ブランド
              %span 必須
            = f.collection_select :brand_id, Brand.all, :id, :name, prompt: "選択してください"
            .section
              %p 商品の状態
              %span 必須
            = f.collection_select :status, Status.all, :id, :name, prompt: "選択してください", class: 'select-box'

        .delivery-select
          %h4 発送について
          .delivery-select__box
            .section
              %p 配送料の負担
              %span 必須
            = f.collection_select :is_bear_shipping_cost, IsBearShippingCost.all, :id, :name, prompt: "選択してください", class: 'select-box'
            .section
              %p 発送先の地域
              %span 必須
            = f.collection_select :region, Prefecture.all, :id, :name, prompt: "選択してください", class: 'select-box'
            .section
              %p 発送までの日数
              %span 必須
            = f.collection_select :period, Period.all, :id, :name, prompt: "選択してください", class: 'select-box'
        .price-input
          %h5 販売価格
          .price-input__box
            %p 価格
            %span 必須
          .price-input__form
            ¥
            = f.text_field :price, step: 100, type: "number", min: "0", value: @item.price, placeholder: "例）300", class: 'input-price'
        .sell-item
          = f.submit "修正する", class: "sell-btn"
  .back_button_area
    .back-item
      = link_to "商品ページへ戻る", item_path, class: "item-btn"

= render 'shared/footer'


