= render "shared/header"
%main.main
  .main__content
    .main__content__name
      %h1 商品一覧
      %h2=link_to"新規投稿商品"

    .main__content__items
      - @items.each do |item|
        .contents__list
          .contents__list--img 
            = link_to item_path(item.id) do
              =image_tag item.item_images.first ,class:"img",height:200,width:240
          .contents__list--price
            = "¥#{item.price.to_s(:delimited)}"
          .contents__list--name
            =item.name
            .contents_user
              = "出品者: " + item.user.name + "さん"
= render "shared/footer"