= render 'shared/header'
.show-content
  .show-content__nav
    %ul
      %li 1
      %li >
      %li 2
      %li >
      %li 3
      %li >

  .show-contents
    .show-contents__item
      .show-contents__item--name
      %h1 item.name
      .show-contents__item--img
        %ul
          %li
            =image_tag("material/icon/icon_brand.png",alt:"item-img",width: "600",height:"600",class:"main-img")
      .show-contents__item--sub-img
        %ul
          %li
            =image_tag("material/icon/icon_brand.png",alt:"item-img",width: "200",height:"200",class:"sub-img")
          %li
            =image_tag("material/icon/icon_brand.png",alt:"item-img",width: "200",height:"200",class:"sub-img")
          %li
            =image_tag("material/icon/icon_brand.png",alt:"item-img",width: "200",height:"200",class:"sub-img")
      .show-contents__item--price
        %h2 ¥30000
        %p (税込)送料込み
    .show-contents__info
      %h3 item.name

      %table
        %tr
          %th 出品者
          %td
            = @item.user.name
        %tr
          %th カテゴリー
          %td
            = @category.name

        %tr
          %th ブランド
          %td
            = @brand.name
        %tr
          %th 商品の状態
          %td
            = @status.name
        %tr
          %th 配送料の負担
          %td
            = @cost.name
        %tr
          %th 発送元の地域
          %td
            = @region.name
        %tr
          %th 発送日の目安
          %td
            = @period.name
        %tr
          %th 商品詳細
          %td
            = simple_format(@item.description)

      .show-contents__comment
        .show-contents__comment--area
          %form_for
            = text_area_tag ""
            %p.caution
              相手のことを考えてコメントしましょう！！
            = button_tag "コメントする"
            %ul
              %li.link
                = link_to "<前の商品", "#"
              %li.link
                = link_to "後ろの商品>", "#"
            .link-item
              = link_to "〇〇をもっと見る", class: "link-item"

  .to-buy-item
    = button_tag "購入画面へ進む"
= render 'shared/footer'