= render 'shared/header'
.show-content
  .show-content__nav
    %ul
      %li 1
      %li >
      %li 2
      %li >
      %li 3
      %li >

  .show-contents
    .show-contents__item
      .show-contents__item--name
        = @item.name
      .show-contents__item--img
        %ul
          %li
            =image_tag @item.item_images.first,class:"img",height:600,width:600
      .show-contents__item--sub-img
        %ul
          -# 複数の投稿はこれからeach文で完了させます。
          -# ※%thirdでエアラーが出る状況
          -# %li
          -#   =image_tag @item.item_images.second,class:"img",height:200,width:200
          -# %li
          -# %each
          -#   =image_tag @item.item_images.third,class:"img",height:200,width:200
          -# %li
          -#   =image_tag @item.item_images.forth,class:"img",height:200,width:200
      .show-contents__item--price
        %h2 ¥30000
        %p (税込)送料込み
    .show-contents__info
      .show-contents__info--name
        = @item.name
      %h3 item.name
      %table
        %tr
          %th 出品者
          %td
            = @item.user.name
        %tr
          %th カテゴリー
          %td
            = @category.name

        %tr
          %th ブランド
          %td
            = @brand.name
        %tr
          %th 商品の状態
          %td
            = @status.name
        %tr
          %th 配送料の負担
          %td
            = @cost.name
        %tr
          %th 発送元の地域
          %td
            = @region.name
        %tr
          %th 発送日の目安
          %td
            = @period.name
        %tr
          %th 商品詳細
          %td
            = simple_format(@item.description)

      .show-contents__comment
        .show-contents__comment--area
          %form_for
            = text_area_tag ""
            %p.caution
              相手のことを考えてコメントしましょう！！
            = button_tag "コメントする"
            %ul
              %li.link
                = link_to "<前の商品", "#"
              %li.link
                = link_to "後ろの商品>", "#"
            .link-item
              = link_to "〇〇をもっと見る", class: "link-item"

  .to-buy-item
    = link_to order_path(@item.id) do
      = button_tag "購入画面へ進む"

= render 'shared/footer'