= render 'shared/header'
.show-content
  .show-content__nav
    %ul
      %li 1
      %li >
      %li 2
      %li >
      %li 3
      %li >

  .show-contents
    .show-contents__item
      .show-contents__item--name
        = @item.name
      .show-contents__item--img
        %ul
          %li
            =image_tag @item.item_images.first,class:"img",height:600,width:600
      .show-contents__item--sub-img
        %ul
          -# 複数の投稿はこれからeach文で完了させます。
          -# ※%thirdでエアラーが出る状況
          -# %li
          -#   =image_tag @item.item_images.second,class:"img",height:200,width:200
          -# %li
          -# %each
          -#   =image_tag @item.item_images.third,class:"img",height:200,width:200
          -# %li
          -#   =image_tag @item.item_images.forth,class:"img",height:200,width:200
      .show-contents__item--price
        %h2 ¥30000
        %p (税込)送料込み
    .show-contents__info
      .show-contents__info--name
        = @item.name
      %table
        %tr
          %th 出品者
          %td hoge
        %tr
          %th カテゴリー
          %td 
            %ul
              %li 1
              %li 2
              %li 3
              %li 4
        %tr
          %th ブランド
          %td 〇〇
        %tr
          %th 商品のサイズ
          %td M
        %tr
          %th 商品の状態
          %td 新品
        %tr
          %th 配送料の負担
          %td 出品者負担
        %tr
          %th 発送元の地域
          %td 東京
        %tr
          %th 発送日の目安
          %td ２〜3日で発送
    .show-contents__comment
      .show-contents__comment--area
        %form_for 
          = text_area_tag ""
          %p.caution
            相手のことを考えてコメントしましょう！！
          = button_tag  "コメントする"
          %ul
            %li.link
              =link_to "<前の商品","#"
            %li.link
              =link_to "後ろの商品>","#"
          .link-item
            =link_to "〇〇をもっと見る",class:"link-item"

  .to-buy-item 
    -#仮作成です。
    =button_tag "購入画面へ進む"
= render 'shared/footer'