.wrapper
  = render "shared/header"
  .category-main
    .category-box
      %h1.category-title
        カテゴリー一覧
      .category-list
        - @parents.each do |parent|
          = link_to "#{parent.name}",category_path(parent.id), class: "parent_category", id: "#{parent.id}"
      - @parents.each do |parent|
        .parents
          = link_to parent.name, category_path(parent.id), class: "parents-item"
        .category-list__child
          - parent.children.each do |child|
            = link_to child.name, category_path(child.id), class: "child-item"
          .category-list__indirects
            - parent.indirects.each do |indirects|
              = link_to indirects.name, category_path(indirects.id), class: "indirects-item"
= render "shared/footer"
